<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 m-auto card p-4">
      <h2 class="text-main">Nouvel Utilisateur</h2>
      <form [formGroup]="addUtilisateur" (ngSubmit)="createUser()">
        <div class="mb-3">
          <label for="name" class="form-label">Nom:</label>
          <input id="name" type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': addUtilisateur.get('name')?.invalid && addUtilisateur.get('name')?.touched }">
          <div *ngIf="addUtilisateur.get('name')?.invalid && addUtilisateur.get('name')?.touched" class="invalid-feedback">
            Nom est requis.
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input id="email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': addUtilisateur.get('email')?.invalid && addUtilisateur.get('email')?.touched }">
          <div *ngIf="addUtilisateur.get('email')?.invalid && addUtilisateur.get('email')?.touched" class="invalid-feedback">
            Email est requis et doit être valide.
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe:</label>
          <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': addUtilisateur.get('password')?.invalid && addUtilisateur.get('password')?.touched }">
          <div *ngIf="addUtilisateur.get('password')?.invalid && addUtilisateur.get('password')?.touched" class="invalid-feedback">
            Mot de passe est requis.
          </div>
        </div>
        <div class="mb-3">
          <label for="role" class="form-label">Rôle:</label>
          <input id="role" type="text" formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': addUtilisateur.get('role')?.invalid && addUtilisateur.get('role')?.touched }">
          <div *ngIf="addUtilisateur.get('role')?.invalid && addUtilisateur.get('role')?.touched" class="invalid-feedback">
            Rôle est requis et doit être soit 'admin' soit 'guest'.
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary mt-3 w-100">Ajouter Utilisateur</button>
        </div>
      </form>
    </div>
  </div>
</div>
